@media screen and (min-width: 481px) and (max-width: 768px) {

    .wrapper {
        width: 90%;
        padding: 2rem;
    }

    body {

        font-size: 1rem;
    }

    input {
        height: 2rem;
        font-size: 1.25rem;
    }

    form input::placeholder {
        font-size: 1.25rem;
    }

    form {
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr auto;
        gap: 0.3rem 0;
    }

    #inCorrectFormat {
        width: 54%;
        min-height: 2.42rem;
        margin-bottom: 0.5rem;
    }

    #wrapperOutputFieldButtons {
        grid-template-columns: 65% 35%;
        max-height: 95%;
    }
    h4, #texForFieldAndroid{
        width: 55%;

    }
}
