@media screen and (min-width: 769px) and (max-width: 1279px) {
    .wrapper {
        width: 85%;
        padding: 2rem;
    }

    form {

        grid-template-columns: 75% 25%;
    }

    input {
        height: 2rem;
        font-size: 1.5rem;
    }

    #inCorrectFormat {
        width: 64%;
        min-height: 3rem;
        margin-bottom: 0.5rem;
    }

    form input::placeholder {
        font-size: 1.5rem;
    }

    #wrapperOutputFieldButtons {
        grid-template-columns: 75% 25%;
        max-height: 85%;
    }
    h4, #texForFieldAndroid{
        width: 63.8%;
    }

}